apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-postgres-secret
  labels:
    {{- include "rag.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_USER: "{{ .Values.postgres.user }}"
  {{- if .Values.postgres.password }}
  POSTGRES_PASSWORD: "{{ .Values.postgres.password }}"
  {{- else }}
  POSTGRES_PASSWORD: ""
  {{- end }}
  DATABASE_URL: "postgresql://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@{{ .Release.Name }}-postgres:{{ .Values.postgres.service.port }}/{{ .Values.postgres.database }}"
