{{- if .Values.seaweedfs.enabled }}
{{- if not .Values.seaweedfs.accessKey }}
{{- fail "seaweedfs.accessKey must be set when seaweedfs.enabled is true. Please provide a secure access key via --set seaweedfs.accessKey=<value>" }}
{{- end }}
{{- if not .Values.seaweedfs.secretKey }}
{{- fail "seaweedfs.secretKey must be set when seaweedfs.enabled is true. Please provide a secure secret key via --set seaweedfs.secretKey=<value>" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-seaweedfs-secret
  labels:
    {{- include "rag.labels" . | nindent 4 }}
type: Opaque
stringData:
  S3_ACCESS_KEY: "{{ .Values.seaweedfs.accessKey }}"
  S3_SECRET_KEY: "{{ .Values.seaweedfs.secretKey }}"
  BLOB_STORE_URL: "http://{{ .Release.Name }}-seaweedfs:{{ .Values.seaweedfs.service.s3Port }}"
  BLOB_STORE_ACCESS_KEY: "{{ .Values.seaweedfs.accessKey }}"
  BLOB_STORE_SECRET_KEY: "{{ .Values.seaweedfs.secretKey }}"
  BLOB_STORE_BUCKET: "{{ .Values.seaweedfs.bucket }}"
{{- end }}
